<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.goodchoice.mapper.HostMypageMapper">

	<resultMap type="User" id="UserResultMap">
		<id column="USER_NO" property="no"/>
		<result column="USER_NAME" property="name"/>
		<result column="USER_EMAIL" property="email"/>
		<result column="USER_TEL" property="tel"/>
		<result column="USER_HOST" property="host"/>
	</resultMap>
	
	<resultMap id="BankResultMap" type="Bank">
		<id column="USER_NO" property="userNo"/>
		<result column="BANK_NAME" property="name"/>
		<result column="BANK_NUMBER" property="number"/>
		<result column="BANK_USER" property="user"/>
	</resultMap>
	
	<resultMap id="HostBusinessInfoMap" type="HostBusinessInfo" >
		<id column="HOUSE_NO" property="houseNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="HOST_HOUSE_NAME" property="hostHouseName"/>
		<result column="HOST_HOUSE_USER_NAME" property="hostHouseUserName"/>
		<result column="HOST_HOUSE_REGISTER_NUMBER" property="hostHouseRegisterNumber"/>
		<result column="HOST_HOUSE_CREATED_DATE" property="hostHouseCreatedDate"/>
		<result column="HOST_HOUSE_TEL" property="hostHousetel"/>
		<association column="STATUS_ID" property="statusCategory" select="getHostHouseStatusCategoryById"/>
		<association column="TYPE_ID" property="typeCategory" select="getHostHouseTypeCategoryById"/>
		<!-- association는 객체일 때 사용한다. -->
	</resultMap>
	
	<resultMap id="StatusResultMap" type="HostHouseStatusCategory">
		<result column="STATUS_ID" property="id"/>
		<result column="STATUS_NAME" property="name"/>
	</resultMap>
	
	<resultMap id="TypeResultMap" type="HostHouseTypeCategory" >
		<result column="TYPE_ID" property="id"/>
		<result column="TYPE_NAME" property="name"/>
	</resultMap>
	
	<select id="getHostHouseStatusCategoryById" parameterType="string" resultMap="StatusResultMap">
		select *
		from HOST_HOUSE_STATUS_CATEGORIES
		where STATUS_ID = #{value}
	</select>
	
	<select id="getHostHouseTypeCategoryById" parameterType="string" resultMap="TypeResultMap">
		select *
		from HOST_HOUSE_TYPE_CATEGORIES
		where TYPE_ID = #{value}
	</select>

	<!-- user정보 가져오기 -->
	<!-- void getHost (User user); -->
	
	<!-- User getUserByEmail(String email); -->
	<select id="getUserByEmail" parameterType="string" resultMap="UserResultMap">
		select user_email
		from final_users
		where user_email = #{value}
	</select>
	
	<!-- 은행 정보 입력하기 -->
	<!-- void inserBank (Bank bank); -->
	<insert id="inserBank" parameterType="Bank">
		insert into user_bank
			(USER_NO, BANK_NAME, BANK_NUMBER, BANK_USER)
		values
			(#{userNo}, #{name}, #{number}, #{user}
	</insert>
	
	<!-- // 사업자 등록정보 입력하기
	void inserBusniessInfo (HostBusinessInfo businessInfo); -->
	<insert id="inserBusniessInfo" parameterType="HostBusinessInfo">
		insert into HOST_BUSINESS_INFO
			(HOUSE_NO, USER_NO, STATUS_ID, STATUS_ID, TYPE_ID, HOST_HOUSE_NAME, HOST_HOUSE_USER_NAME, HOST_HOUSE_REGISTER_NUMBER, HOST_HOUSE_CREATED_DATE, HOST_HOUSE_TEL)
		values
			(#{houseNo}, #{userNo}, #{statusCategory.id}, #{typeCategory.id}, #{hostHouseName}, #{hostHouseUserName}, #{hostHouseRegisterNumber}, #{hostHouseCreatedDate}, #{hostHousetel})
	</insert>
	
	<!-- 업태 정보 입력하기 -->
	<!-- void inserStatusCtegory(HostHouseStatusCategory status); -->
	<insert id="inserStatusCtegory" parameterType="HostHouseStatusCategory">
		insert into HOST_HOUSE_STATUS_CATEGORIES
			(STATUS_ID, STATUS_NAME)
		values
			(#{id}, #{name})
	</insert>
	
	<!-- 업종 정보 입력하기 -->
	<!-- void inserTypeCtegory(HostHouseTypeCategory type); -->
	<insert id="inserTypeCtegory" parameterType="HostHouseTypeCategory">
		insert into HOST_HOUSE_TYPE_CATEGORIES
			(TYPE_ID, TYPE_NAME)
		vlaues
			(#{id}, #{name})
	</insert>
	
</mapper>