<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.goodchoice.mapper.RegionMapper">
	<select id="getRegion" resultType="Region">
		select REGION_ID as id, REGION_PROVINCE as province, REGION_NAME as name
		from REGIONS
		where REGION_PROVINCE = #{province}
		and REGION_NAME = #{name}
	</select>
	
	<select id="getMotelRegions" resultType="Region">
		select REGION_ID as id, REGION_PROVINCE as province, REGION_NAME as name
		from regions r
        where exists(select * from house where house_motel='Y' and region_id = r.region_id)
		order by region_province
	</select>

</mapper>