@charset "UTF-8";
   * {
      outline: 0;
   }

   .container {
      margin-top: 2.5%;
      width: 20%;
   }
   
   .fix_title h1.page_head {
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
   }
   .fix_title h1.page_head a {
    display: inline-block;
    width: 112px;
    height: 44px;
    background: url(/images/redtext.png) 50% 50% no-repeat;
    background-size: 112px 30px;
    text-indent: -9999px;
   }
   
   .sub_title {
    display: block;
    margin: 30px 0 10px 0;
    font-size: 18px;
    text-align: center;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family : 'Pretendard Variable', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
   }
   
   b {
      display: block;
       margin-bottom: 9px;
       font-size: 16px;
       font-weight: bold;
       color: rgba(0,0,0,0.56);
       font-family : 'Pretendard Variable', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
       margin: 0;
       padding: 0;
       border: 0;
       box-sizing: border-box;
   }
      
   .mb-3 {
   font-family : 'Pretendard Variable', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
   
   }
      
   a {
      text-decoration: none;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
   }