@charset "UTF-8";
@import "nav.css";

* {
    outline: 0;
}
@media (min-width: 1024px) {
	.sub_top_wrap {
    height: 211px;
    background: #f7323f;
	}
}
div, h2, p, nav.side, ul, li {
	margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@media (min-width: 1024px) {
	.sub_top {
    width: 1024px;
    height: 211px;
    margin: 0 auto;
    padding-top: 72px;
    border-radius: 0;
    background: none;
    position: relative;
	}
}

@media (min-width: 1024px) {
.sub_top h2 {
    display: block;
    margin: 21px 0 0 31px;
    font-size: 38px;
    font-weight: normal;
    letter-spacing: -1px;
    color: #fff;
	}
}

#content {
    overflow: hidden;
}

@media (min-width: 1024px) {
	.my_wrap {
    padding-top: 54px;
	}
}

.sub_wrap {
    min-height: 390px;
}

@media (min-width: 1024px) {
.sub_wrap {
    width: 1024px !important;
    margin: 0 auto 0 auto;
    padding-bottom: 50px;
	}
}

@media (min-width: 1024px) {
.sub_wrap .sub_title {
    display: none;
	}
}

.sub_wrap .sub_title {
    position: relative;
    height: 44px;
    background: #fff;
    font-size: 18px;
    line-height: 44px;
    text-align: center;
}

@media (min-width: 1024px) {
.sub_wrap nav.side {
    display: block;
    float: left;
    width: 238px;
    padding-left: 31px;
	}
}

ul, ol, li {
    list-style: none;
}

.sub_wrap nav.side ul li {
    margin-bottom: 26px;
}

.sub_wrap nav.side ul li a {
    display: block;
    font-size: 18px;
    color: rgba(0,0,0,0.56);
}

a {
    text-decoration: none;
}

a, input, button, div, li, textarea, form, label, select {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@media (min-width: 1024px) {
.sub_wrap .align_rt {
    float: right;
    width: 724px;
    margin-right: 31px;
	}
}

.mypage {
    padding: 0 16px;
    font-size: 16px;
    overflow: hidden;
}

.mypage .bot_link {
    margin: 30px 0;
}

.mypage .bot_link a {
    display: inline-block;
    color: rgba(0,0,0,0.87);
    text-decoration: underline;
}

.active {
	font-size: 18px;
    font-weight: bold;
    color: rgb(230,28,81);
}


